.container-sprechblase {
  position: fixed;
  bottom: 225px; /* Position anpassen */
  right: 40px; /* Position anpassen */
  width: 260px;
  height: auto; /* Die Höhe passt sich dem Text an */
  z-index: 1001;
}

.sprechblase-text {
  position: relative; /* Wichtig für den Pseudo-Element-Schwanz */
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  word-wrap: break-word; /* Stellt sicher, dass lange Wörter umbrechen */
  font-family: Delius-Regular;
  font-size: 16px;
  line-height: 1.25;
}

/* Der Sprechblasen-Schwanz (CSS Pseudo-Element) */
.sprechblase-text::after {
  content: '';
  position: absolute;
  bottom: -15px; /* Position des Schwanzes anpassen */
  right: 90px; /* Position des Schwanzes anpassen */
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #000;
  border-right-color: transparent;
  border-bottom: 0;
}

.sprechblase-text::before {
  content: '';
  position: absolute;
  z-index: 1001;
  bottom: -13px;
  right: 91px;
  width: 0;
  height: 0;
  border: 14px solid transparent; /* Der innere, weiße Teil */
  border-top-color: #fff;
  border-right-color: transparent;
  border-bottom: 0;
}
